@font-face {
    font-family:'typing';
    src: url("/font/dse-typewriter-font.ttf");
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins";
}
body {
    background:#FFFFFF;
    overflow-x: hidden;
}


.scroll-up{
    /* align-items: center; */
    /* padding: 0 20px 0 20px; */
    width: 100%;
    /* margin: auto; */
    position: fixed;
    top: 0;
    /* transition: all 1000ms ease; */
     z-index: 10;
} 



.scroll-down{
    display: none;
}



img {
    width: 100%;
    width: 40px;
}

main{
    max-width: 1400px;
    margin: auto;
    padding: 0 20px 0 20px;
}


.landingimage{
    background-image: url(/images/DSC09913.JPG);
    background-size: cover;
    background-position: right;
    height: 100vh;
    position:relative;
    padding-top: 150px;
}

.logo{
    margin: 2rem;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.primary-nav{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    font-weight: 800;
    font-size: 20px;
}

.primary-nav[data-visible='true'] {
    transform: translateX(0%);
}

.mobile-nav-toggle{
    display: none;
}


.navlink > a{
text-decoration: none;
color: #000000;
margin-left: 20px;
}

@media (max-width: 35em) {
   
    .primary-nav{
        position: fixed;
        inset: 0 0 0 40%;
        flex-direction: column;
        padding: min(30vh,10rem) 2em;
        text-align: center;
        background: hsl(0 0% 100% / 1);
        transform: translateX(100%);
        transition: transform 350ms ease-in;
    }
    .navlink{
        margin-bottom: 40px;
    }
    .mobile-nav-toggle{
        display: block;
        position: absolute;
        background: red;
        width: 1rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        z-index: 999;
    }
}


.custom-shape-divider-bottom-1674073740 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1674073740 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 93px;
}

.custom-shape-divider-bottom-1674073740 .shape-fill {
    fill: #FFFFFF;
}

h2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 20px 0;
    font-size: 40px;
    color: #b26c15b0;
}

.aboutme{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: ghostwhite;
    color: #48554f;
}

.experience{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: ghostwhite;
    color: #48554f;
}

.skills{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-direction: column;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
    font-size: 20px;
    background-color: ghostwhite;
    color: #48554f;
}



.headshot{
    width: 100%;
    border-radius: 100%;
    width: 135px;
    margin-bottom: 20px;
    border: 2px solid grey;
}

.skillscontainer{
    display: flex;
    margin: 20px 0 20px 0;
}

.skills >h3{
    font-size: 30px;
    margin-bottom: 20px;
    background: -webkit-linear-gradient( #0790A9, #88918D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contactcontainer >h3{
    font-size: 30px;
    margin-bottom: 20px;
    background: -webkit-linear-gradient( #0790A9, #88918D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.experience >h3{
    font-size: 30px;
    margin-bottom: 20px;
    background: -webkit-linear-gradient( #0790A9, #88918D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.textcontainer >h3{
    font-size: 30px;
    margin-bottom: 20px;
    background: -webkit-linear-gradient( #0790A9, #88918D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}



@media(max-width:450px){
    .skillscontainer{
        flex-direction: column;
    }
    .landingimage{
        height: 740px;
    }
    .projectcontainer{
        flex-direction:column-reverse;
    }
    .projectcontainer > img{
        margin-bottom: 20px;
    }
    .projectcontainer2{
        flex-direction:column;
    }
    .projectcontainer2 > img{
        margin-bottom: 20px;
    }
}


.aboutlist > li{
    margin-bottom: 10px;
    font-size: 20px;
}

h1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 8vmax;
    color: black;
    text-align: center;
}

.wrap{
text-align: center;
color:black;
font-family: 'typing'; 
}

h1 > p{
    font-family: 'typing'; 
    width: 100%;
}


/*This is the reveal css */

.reveal {
    position: relative;
    opacity: 0;
  }
  
  .reveal.active {
    opacity: 1;
  }
  .active.fade-bottom {
    animation: fade-bottom 1s ease-in;
  }
  .active.fade-left {
    animation: fade-left 1s ease-in;
  }
  .active.fade-right {
    animation: fade-right 1s ease-in;
  }
  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }


  .projectcontainer{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: ghostwhite;
    margin-bottom: 20px;
  }

  .projectcontainer2{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background-color: ghostwhite;
    margin-bottom: 20px;
  }



  .projectcontainer > img{
    width: 100%;
    max-width: 500px;
  }

  .projectcontainer2 > img{
    width: 100%;
    max-width: 500px;
  }

  .textcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .textcontainer > p{
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    max-width: 600px;
    color:#48554f;
  }
  
.buttoncontainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}



.projectbutton{
    width: 120px;
    font-size: 16px;
    font-weight: 600;
    color: #0790A9;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    /* border: none; */
    background: none;
    border: 2px solid #d0d0d0;
}


.contactcontainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: ghostwhite;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    max-width: 600px;
    margin: auto;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

form > input{
    margin-bottom: 10px;
    height: 50px;
    width: 100%;
    max-width: 500px;
    border: 2px solid #d0d0d0;
    color: #48554f;
}

 .sendbutton{
    margin-bottom: 10px;
    height: 50px;
    width: 50%;
    border: 2px solid #d0d0d0;
    color:#0790A9;
    font-size: 20px;
    max-width: 150px;
}

footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

footer > p{
    font-size: 20px;
    text-align: center;
    max-width: 600px;
    color: #48554f;
}

.socials{
    display:flex;
    width: 100%;
    max-width: 400px;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0 20px 0;
}








